{% extends 'index.html.twig' %}

{% block body %}

    <ul>
    {% for d in database.query('SELECT * FROM pages WHERE template="document" ORDER BY date ASC') %}

        <li>
            <a href="{{page.link(d.id)}}.html">
                {{d.date|date('Y-m-d')}}
                <strong>{{d.title}}</strong>
            </a>
            {{d.description|md2html|raw}}
        </li>

    {% endfor %}
    </ul>

{% endblock %}